.footer {
  background-color: #1d4354;
  position: static;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  top: 100%;
}
